/* Tambahkan animasi RGB pada outline tombol */
.button {
  animation: rgbOutline 2s infinite;
}

/* Definisi @keyframes untuk perubahan warna outline RGB */
@keyframes rgbOutline {
  0% { border-color: rgb(255, 0, 0); }
  33% { border-color: rgb(0, 255, 0); }
  66% { border-color: rgb(0, 0, 255); }
  100% { border-color: rgb(255, 0, 0); }
}
