/* Tambahkan animasi RGB pada outline tombol */
.button {
  animation: rgbOutline 2s infinite;
}

/* Definisi @keyframes untuk perubahan warna outline RGB */
@keyframes rgbOutline {
  0% { border-color: rgb(255, 0, 0); }
  33% { border-color: rgb(0, 255, 0); }
  66% { border-color: rgb(0, 0, 255); }
  100% { border-color: rgb(255, 0, 0); }
}
/* Ubah warna background halaman dan teks */
body {
  background-color: #333; /* abu-abu gelap */
  color: white; /* teks berwarna putih */
}

.container {
  background-color: #444; /* abu-abu yang sedikit lebih terang untuk kontras */
  color: white; /* teks tetap putih */
}

/* Pastikan header juga putih */
h1, h2, p, ul, li {
  color: white;
}
